.confirm{

}

.header{
    margin-bottom: 30px;
}

.green{
    color: #1DBA69;
}

.red{
    color: #FF0000;
}

.htmlCl{
    color: #DC4A25;
}

.cssCL{
    color: #264bdd;
}

.jsCL{
    color: #efd81d;
}

.loginBtnWrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.loginBtn{
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #8997A4;
    background-color: #8997A4;
    color: #EEEEFF;
    font-size: 18px;
    cursor: not-allowed;
    opacity: .5;
}

.loginBtn.active{
    animation: aniNext 0.2s linear forwards;
    cursor: pointer;
}

@keyframes aniNext {
    0%{
        border: 1px solid #8997A4;
        background-color: #8997A4;
        opacity: .5;
    }
    100%{
        border: 1px solid #1DBA69;
        background-color: #1DBA69;
        opacity: 1;
    }
}